.signlang_testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 6rem;
    position: relative;
}

.signlang_testimonial-header {
    margin-bottom: 4rem;
    text-align: center;
}

.signlang_testimonial-header h2 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-heading);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signlang_card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .signlang_testimonials-container {
        padding: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .signlang_testimonials-container {
        padding: 4rem 2rem;
    }

    .signlang_testimonial-header h2 {
        font-size: 28px;
        line-height: 38px;
    }
}

.signlang_testimonial-header h2 {
    font-size: 30px;
}

.signlang_card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
}


@media screen and (max-width: 990px) {
    .signlang_card-container {
        flex-wrap: wrap;
        padding: 0rem;
        margin: 1rem 0;
    }

}

@media screen and (max-width: 550px) {

    .signlang_testimonial-header h2 {
        font-size: 25px;
        text-align: center;
    }

    .signlang_card-container {
        margin: 2rem 0;
    }

}