.progress-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    margin-left: 1rem;
    overflow: hidden;
}

.progress-bar {
    height: 10px;
    background: var(--gradient-bar);
    width: 0%;
    border-radius: 50px;
    color: transparent;
    transition: width 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(174, 103, 250, 0.5);
}